*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: helvetica, sans-serif;
}

body {
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: sticky;
  top: 0;
  background-color: rgb(0, 197, 0);
  z-index: 1000;
  // padding: 7.5px 7.5px 0 7.5px;

  & .nav {
    position: relative;
    text-align: right;
    &__checkbox {
      display: none;
    }

    &__checkbox:checked ~ ul {
      // background-color: greenyellow;
      height: auto;
      transition: 0.2s;
      border-top: 1px solid black;
    }
    &__checkbox:checked ~ ul a {
      display: inline-block;
    }
    &__checkbox:checked ~ .nav__button #openMenu {
      // opacity: 0;
      // width: 0;
      // transform: translateX(100%);
      // transition: 0.2s;
      display: none;
      transition-delay: 0.5s;
    }
    &__checkbox:checked ~ .nav__button #closeMenu {
      opacity: 1;
      // width: auto;
      // transform: translateX(0);
      transition: 0.3s;
      display: block;
      transition-delay: 0.5s;
    }

    &__button {
      cursor: pointer;
      padding: 7.5px 7.5px 0 7.5px;
      display: flex;
      justify-content: center;
      align-items: center;

      & .menu-icon {
        font-size: 65px;
        font-weight: 100;

        @media all and (max-width: 600px) {
          font-size: 45px;
        }
      }

      & #openMenu {
      }
      & #closeMenu {
        opacity: 0;
        // width: 0;
        display: none;
        // transform: translateX(100%);
      }
    }
    &__links {
      background-color: rgb(0, 197, 0);
      text-align: right;
      list-style: none;
      position: absolute;
      right: 0px;
      transition: all 0.3s;
      top: 100%;
      height: 0;
      display: flex;
      flex-direction: column;
      width: max-content;

      &--link {
        border-bottom: 1px solid black;
        font-size: 65px;
        font-weight: 100;
        text-transform: uppercase;
        cursor: pointer;
        padding: 0 7.5px;
        z-index: 1001;
        display: none;
        padding-top: 9px;

        @media all and (max-width: 600px) {
          font-size: 45px;
        }

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}

#battleLink {
  font-size: 65px;
  font-weight: 100;
  text-transform: uppercase;
  cursor: pointer;
  padding: 7.5px 7.5px 0 7.5px;

  @media all and (max-width: 600px) {
    font-size: 45px;
  }

  &::after {
    content: "!";
    visibility: hidden;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      text-decoration: underline;

      &::after {
        visibility: visible;
      }
    }
  }
}

.site-container {
  background-color: #e0e5ec;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(100vh);
}

section {
  scroll-snap-align: start;
  width: 100vw;
  height: calc(100vh - 60px); //do variables
  position: relative;
  padding-top: 60px;
}

.link-block {
  background-color: orange;
  height: 60px;
  width: 100%;
}

.page {
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vw 2vw 2vw 2vw;
  text-align: center;

  &__content {
    width: 75%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 6vw 4vw;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    max-width: 700px;

    @media all and (min-width: 900px) {
      padding: 45px 30px;
    }

    @media all and (max-width: 600px) {
      width: 90%;
    }

    & > * + * {
      margin-top: 2vw;
    }
    & > * + &--title {
      margin-top: 4vw;
    }
    @media (hover: hover) and (pointer: fine) {
      & a:hover {
        text-decoration: underline;
      }
    }

    &--title {
      font-size: 35px;
      font-weight: 100;
      text-transform: uppercase;
      // margin-top: 2vw;
    }
    &--text {
    }
    &--container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 2vw;
      padding: 0 4vw;
      @media all and (max-width: 700px) {
        padding: 15px 0;
      }
    }
    &--box {
      grid-column: span 1;
      grid-row: span 1;
      border: 2px solid;
      padding: 2ex;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media all and (max-width: 700px) {
        padding: 1ex;
      }
    }
    &--flexrow {
      display: flex;
      justify-content: center;
      align-items: center;
      & > * + * {
        margin-left: 2vw;
      }
    }
    &--list {
      list-style: none;
      & > * + * {
        margin-top: 8px;
      }
    }
    &--listitem {
    }
    &--button {
      border: 2px solid;
      border-radius: 100px;
      padding: 12px 25px 9px 25px;
      font-size: 25px;
      display: inline-block;
      max-width: 125px;
      align-self: center;
      transition: 0.2s all;

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: orange;
          text-decoration: none !important;
        }
      }
    }
    &--inline-list {
      list-style: inside;
      margin-left: 20px;
      & > * + * {
        margin-top: 5px;
      }
      & li:first-child {
        margin-top: 5px;
      }
    }
    &--imgTitle {
      height: 150px;
    }
    &--imgLink {
      width: 100px;
    }
    &--description {
      margin-top: 1ex;
    }

    & .highlight {
      text-decoration: underline;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
}

#splash {
  background-color: #c6c6ff;

  .page__content {
    margin-bottom: 60px;
  }
}
#how {
  background-color: #c6c6ff;
  justify-content: center;
  align-items: center;
}
#journey {
  background-color: #c6c6ff;

  & .page__content--title {
    text-align: left;
  }

  & .page__content--list {
    text-align: left;
  }
}
#fandc {
  background-color: #c6c6ff;

  & .page__content {
    background-color: transparent;
  }
}
#info {
  background-color: #c6c6ff;

  & .page__content {
    background-color: transparent;
  }
}

#app-container {
  padding: 3rem;
  display: flex;
  align-items: center;
  @media all and (max-width: 700px) {
    padding: 1rem;
  }
}
#app {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr auto;
  grid-template-columns: 1fr 115px 115px 1fr;
  grid-gap: 1rem 3rem;
  justify-content: center;
  width: min-content;
  align-items: flex-start;
  width: 100%;

  @media all and (max-width: 800px) {
    grid-template-rows: 1fr 1fr auto auto auto;
  }
  @media all and (max-width: 700px) {
    grid-gap: 1rem 2rem;
  }
  @media all and (max-width: 500px) {
    grid-gap: 1rem 1rem;
  }
}

#btnBox {
  grid-column: 1/-1;
  grid-row: span 2;
  min-width: min-content;
  width: 80%;
  justify-self: center;
  // background-color: #e0e5ec;

  @media all and (min-width: 800px) {
    grid-row: 1 / span 4;
    grid-column: 2 / span 2;
  }
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: span 2;
  grid-row: span 1;
  width: 100%;
  height: 100%;
  border: 2px solid;
  border-radius: 7px;
  padding: 3px;

  &__title {
    // text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 1.7ex 1ex 1ex 1ex;
    // font-family: "Gloria Hallelujah", cursive;
    background-color: black;
    width: 100%;
    color: white;
    border-radius: 7px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 25px;
    // box-shadow: inset 2px 2px 5px rgba(195, 193, 198, 0.9),
    //   inset -2px -2px 5px #fff, 3px 3px 5px rgba(195, 193, 198, 0.9),
    //   -2px -2px 4px #fff;
    width: 100%;
    height: 100%;
    min-height: 138px;
    align-content: flex-start;
    justify-content: space-evenly;

    &--btn {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      margin: 5px;

      & img {
        width: 40px;
      }
    }
  }
}

#attYesBox {
  color: #00c500;

  & .box__title {
    background-color: #00c500;
  }

  @media all and (min-width: 800px) {
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
  }
}
#defYesBox {
  color: #00c500;
  & .box__title {
    background-color: #00c500;
  }
  @media all and (min-width: 800px) {
    grid-row: 1 / span 2;
    grid-column: 4 / span 1;
  }
}
#attNoBox {
  color: red;
  & .box__title {
    background-color: red;
  }
  @media all and (min-width: 800px) {
    grid-row: 3 / span 2;
    grid-column: 1 / span 1;
  }
}
#defNoBox {
  color: red;
  & .box__title {
    background-color: red;
  }
  @media all and (min-width: 800px) {
    grid-row: 3 / span 2;
    grid-column: 4 / span 1;
  }
}

// button {
//   border: none;
//   background-color: transparent;
//   height: fit-content;
// }
.opponent-btns {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  padding: 20px;
  align-items: center;
  // box-shadow: inset 2px 2px 5px rgba(195, 193, 198, 0.9),
  //   inset -2px -2px 5px #fff, 3px 3px 5px rgba(195, 193, 198, 0.9),
  //   -2px -2px 4px #fff;

  @media all and (min-width: 800px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding: 30px;
  }
}

.btn {
  background-color: #e0e5ec;
  box-shadow: inset 5px 5px 2.5px rgba(255, 255, 255, 0.39),
    inset -0.5px -0.5px 2.5px rgba(195, 193, 198, 0.7),
    1px 1px 1px rgba(195, 193, 198, 0.7),
    -1px -1px 2px rgba(255, 255, 255, 0.39);
  transition: 0.2s box-shadow;

  &:active {
    // border: 1px solid;
    // box-shadow: inset 2px 2px 5px rgba(195, 193, 198, 0.9),
    //   inset -2px -2px 5px #fff;
    // transform: translateY(2px);

    & img {
      transform: scale(0.85);
    }
  }
}

.btn__opp-type {
  grid-column: span 1;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      border: 2px solid;
    }
  }

  & img {
    // transform: translate(0, -1px);
    width: 60px;
    transition: 0.2s all;
  }
}

#resetBtn {
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 50px;
  text-align: center;
  grid-row: span 1;
  grid-column: 2/-2;
  background-color: black;
  color: white;
  @media all and (min-width: 800px) {
    grid-row: 5 / span 1;
    // grid-column: 3 / -3;
  }
}

.enabled {
  box-shadow: inset 2px 2px 5px rgba(195, 193, 198, 0.9),
    inset -2px -2px 5px #fff;
  border: 2px solid;
  & img {
    transform: scale(0.85);
  }
}
.reset {
  filter: brightness(0.5);
}

//Button sizes edit at below 600px.

@media all and (max-width: 600px) {
  .box__list {
    padding: 5px;

    &--btn {
      width: 29px;
      height: 29px;
      margin: 3px;
      & img {
        width: 29px;
      }
    }
  }

  .btn__opp-type {
    height: 41px;
    width: 41px;

    & img {
      width: 41px;
    }
  }
}
